.btn {
    margin-top: 1em;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    padding: 0.9em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.btn:hover {
    color: #0075F2;
}